{% extends 'base.html' %}
<title>HOME</title>
{% block conteudo %}

<!--Corpo da página IMG -->

<style>
    body
    {
    background-image:url("../static/img/fundo.png");
    }
</style>
   
<div class="capa">

<img src="../static/img/capa.png" alt=capa width="90%" height="414px">

</div>

<!--Corpo da página TXT -->
   <div>
        <h1>Sobre a universidade</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, error deleniti. Incidunt temporibus aspernatur minus id autem! Dolores delectus praesentium nesciunt nemo alias labore, ab amet atque, dolorum nihil rerum!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, error deleniti. Incidunt temporibus aspernatur minus id autem! Dolores delectus praesentium nesciunt nemo alias labore, ab amet atque, dolorum nihil rerum!</p>
        <!-- <h4>Todos os direitos reservados</h4>  -->
   
    </div>
</body>
{% endblock %}
