{% extends 'base.html' %}

{% block conteudo %}
<br>
<br>

  <!--Corpo da página TXT -->
  <style>
    body
    {
    background-image:url("../static/img/fundo2.png");
    }
  </style>
  <div>
    <h2>Quem somos</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, error deleniti. Incidunt temporibus aspernatur minus id autem! Dolores delectus praesentium nesciunt nemo alias labore, ab amet atque, dolorum nihil rerum!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, error deleniti. Incidunt temporibus aspernatur minus id autem! Dolores delectus praesentium nesciunt nemo alias labore, ab amet atque, dolorum nihil rerum!</p>
    
  <h2>5 motivos para estudar</h2>
  <ol class="motivos">
  <li>Material sempre atualizado</li>
  <li>Tablets em sala de aula</li>
  <li>Professores renomados</li>
  <li>Universidade bem avaliada</li>
  <li>Ótima localização</li>
</ol>

<p></p><hr size> 

       
    <h2>Objetivos</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis debitis sit expedita explicabo cum asperiores magni quas quis dolor doloribus, quae autem mollitia, labore ea necessitatibus nostrum, eaque optio odio.</p>
    <!-- <h4>Todos os direitos reservados</h4>  -->

</div>  
    
{% endblock %}